* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Roboto;
  src: url(../Roboto/Roboto-Regular.ttf) format("truetype");
}
body {
  font-family: Roboto, sans-serif;
  user-select: none;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 128, 0.4)
    ),
    url(/images/bg.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
header {
  height: 60px;
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px 30px;
  color: #333;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 30;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-btn {
  margin-right: 20px;
  cursor: pointer;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}

header .search-container {
  flex: 1;
  position: relative;
}
.search-container i {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translate(-50%, -50%);
  color: black;
}

header h1 {
  font-size: 18px;
}

.header input {
  border: 0;
  outline: none;
  padding: 8px;
  border-radius: 5px;
  width: 100%;
  font-size: 17px;
}
.header input::placeholder {
  opacity: 0.5;
}
.container {
  text-align: center;
  height: 100vh;
  padding: 70px 0;
  background-attachment: fixed;
  /* height: calc(100vh - 140px); */
  color: white;
  width: 1024px;
  max-width: 100%;
  margin: auto;
}
.notice-container {
  text-align: center;
  position: fixed;
  bottom: 60px;
  width: 100%;
  background-color: whitesmoke;
  padding: 5px;
}
.notice-container p {
  color: #333;
  font-size: 14px;
  text-align: center;
  font-size: 16px;
  font-style: italic;
}

.footer {
  background-color: #fff;
  height: 60px;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.btn {
  border: 0;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
}

.play-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  font-size: 20px;
}

.radio-btns {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  height: calc(100vh - 160px);
  overflow: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.radio-btns::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.radio-btns {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.radio-btns button {
  display: flex;
  cursor: pointer;
  margin: 5px 0;
  font-size: 14px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgba(0, 0, 0, 0.9);
  text-align: left;
  padding: 3px 10px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  position: relative;
  text-transform: capitalize;
  transition: all 0.4s linear;
}

.radio-btns button.selected,
.radio-btns button:hover {
  border: 1px solid orange;
}

button img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
button .wave {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.show-wave {
  display: block;
}

.hide {
  display: none;
}

.show {
  display: block;
}
.offline {
  color: red;
}
.ocamedia {
  border: 3px solid yellow;
}

/* Nav */

.nav-container {
  height: 100%;
  width: 0px;
  background-color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  position: fixed;
  overflow: hidden;
  transition: all linear 0.2s;
  z-index: 300;
}
.nav-header {
  background-color: white;
  padding: 20px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}
.nav-header img {
  width: 90px;
  height: 90px;
  margin-bottom: 10px;
}
.nav-body {
  padding: 10px 5px;
}

.nav-body li {
  list-style: none;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  align-content: center;
  cursor: pointer;
  padding: 10px;
  transition: all 0.3s linear;
}
.nav-body li:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.nav-body li small {
  margin-left: 20px;
  font-size: 16px;
  flex: 1;
}
.nav-container h2 {
  text-align: center;
  font-size: 18px;
}

.show-nav {
  width: 200px;
  /* padding: 20px 5px; */
}

.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 50;
}

/* Page */
.page {
  background-color: white;
  position: fixed;
  z-index: 500;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  padding: 60px 0;
}
.page header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.page .body-wrapper {
  height: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.656)
    ),
    url(/images/bg.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.page .body {
  max-width: 400px;
  margin: auto;
  padding: 40px 0;
  height: 100%;
}
.page .body p {
  color: #f0f0f0;
  line-height: 1.6;
  font-size: 18px;
}
.page .body p a {
  color: #f0f0f0;
}
.page header .back-btn {
  cursor: pointer;
  font-size: 20px;
}
